[package]
edition = "2021"
name = "dskctrl"
version = "0.1.0"
license = "GPL-3.0-or-later"

[dependencies]
# Basic set
embassy-futures = { version = "0.1.0" }
embassy-sync = { version = "0.2.0", features = ["defmt"] }
embassy-time = { version = "0.1.2", features = ["nightly", "unstable-traits", "defmt", "defmt-timestamp-uptime"] }
embassy-stm32 = { version = "0.1.0", features = ["nightly", "unstable-traits", "defmt", "time-driver-any", "unstable-pac", "time", "stm32g431cb"] }

# Required if you want to store generic stuff in structs.
embedded-hal-async = { version = "1.0.0-rc.1" }
embedded-hal = { version = "0.2.7" }
embedded-io-async = { version = "0.5.0" }

# Required when not using RTIC
embassy-executor = { version = "0.3.0", features = ["nightly", "arch-cortex-m", "executor-thread", "executor-interrupt", "defmt", "integrated-timers"] }

# Additional
embassy-usb = { version = "0.1.0", features = ["defmt", "max-interface-count-3"] }
static_cell = { version = "1.1", features = ["nightly"]}

defmt = "0.3"
defmt-rtt = "0.4"

cortex-m = { version = "0.7.6", features = ["inline-asm", "critical-section-single-core"] }
cortex-m-rt = "0.7.0"
panic-probe = { version = "0.3", features = ["print-defmt"] }
futures = { version = "0.3.17", default-features = false, features = ["async-await"] }

[patch.crates-io]
# Prev: 5d5cd2371504915a531e669dce3558485a51a2e1
# Cur: 13f050167346ce262ea33c0757496b832c90fa58
embassy-time = { git = "https://github.com/embassy-rs/embassy", rev = "13f050167346ce262ea33c0757496b832c90fa58" }
embassy-futures = { git = "https://github.com/embassy-rs/embassy", rev = "13f050167346ce262ea33c0757496b832c90fa58" }
embassy-sync = { git = "https://github.com/embassy-rs/embassy", rev = "13f050167346ce262ea33c0757496b832c90fa58" }
embassy-stm32 = { git = "https://github.com/embassy-rs/embassy", rev = "13f050167346ce262ea33c0757496b832c90fa58" }
embassy-usb = { git = "https://github.com/embassy-rs/embassy", rev = "13f050167346ce262ea33c0757496b832c90fa58" }

# Tested first: b0da6318f3eaa4a7fa247834ae5d95887c5bcf18


# cargo build/run --release
[profile.release]
codegen-units = 1
debug = 2
debug-assertions = false # <-
incremental = false
lto = 'fat'
opt-level = "s" # <-
overflow-checks = false # <-

# cargo build/run
[profile.dev]
codegen-units = 1
debug = 2
debug-assertions = true # <-
incremental = false
opt-level = "s" # <-
overflow-checks = true # <-
